<div class="abc">
    <form (ngSubmit)="onSubmit()" #problemForm="ngForm" class="container mt-4">
        <div class="form-group">
            <label for="phone">Chose your Phone</label>
            <input class="form-control" id="phone" name="phone" [(ngModel)]="formData.phone" required/>
          </div>
        <div class="form-group" style="margin-top: 25px; margin-bottom:25px">
            <label for="images">Download image *</label>
            <input type="file" class="form-control-file" id="images" name="images" accept="image/*" (change)="onFileSelected($event)" multiple>
          </div>
        <div class="form-group">
          <label for="description">any thing to add ?</label>
          <textarea class="form-control" id="description" name="description" [(ngModel)]="formData.description" required></textarea>
        </div>
      
     <div class="btnt" style="display: flex; align-items:center; justify-content:center; margin-top:15px">
        <button type="submit" class="btn btn-primary" [disabled]="!problemForm.valid">submit</button>
    </div>
      </form>
</div>           