<div class="footer">
    <footer class="footbar">
    <div class="left-side">
      <div class="contact-info">
         
        <a href="mailto:abbbeees@gmail.com"><i class="fab fa-google f" style="color: #dd4b39;"></i> - Contact us on Gmail.</a>
      </div>

      <div class="contact-info">
       <a href="https://www.facebook.com/"><i class="fab fa-facebook-f" style="color: #3b5998;"></i> - Visit our Facebook page.</a>
    </div>
    <div class="contact-info">
         <a href="https://www.instagram.com/"><i class="fab fa-instagram f" style="color: #ac2bac;"></i> - Visit our Instagram profile.</a>
    </div>
    </div>

    <div class="right-side">
      <div class="location">Location 1 - <i class="fas fa-map-marker-alt" style="color: #dd4b39;"></i></div>
      <div class="location">Location 2 - <i class="fas fa-map-marker-alt" style="color: #dd4b39;"></i></div>
    </div>
  </footer>
    <div class="ft" style="display:flex; align-items:center;justify-content:center;">
        <h4>contact us !</h4>
    </div>
</div>