<div class="container">
    <div class="left-section">
        <div class="scene">
            <div class="cube">
              <div class="face front"><img src="../../assets/image/cases/moodcase.png"></div>
              <div class="face right"><img src="../../assets/image/cases/musiccase.png"></div>
              <div class="face left"><img src="../../assets/image/cases/lolcase.png"></div>
              <div class="face back"><img src="../../assets/image/cases/zorocase.png"></div>
              <div class="face top">•</div>
              <div class="face bottom">•</div>
            </div>
          </div>
    </div>
    <div class="right-section">
        <p class="fancy-text">Phone Case Design</p>
        <p style="color: white;">you can now unlich your creativity with us</p>
        <button>- Let's go -</button>
    </div>



</div>
<div class="bottom-section">
    Elevate your phone experience with cases that transcend protection – they evolve into stylish expressions of personal taste and individuality. Showcase your unique style and preferences with our diverse range of designs, making your phone an extension of your distinctive personality.

</div>