.login-card {
    max-width: 400px;
    margin: auto;
    margin-top: 150px;
    background-image: url('../../assets/image/bckimg/loginbck.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 25px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .homebtn{
    margin-top: 15px;
    display: flex;
    align-items:center;
    justify-content:center;
    border: 2px solid #825c44;
    border-radius: 20px;
    height: 40px;
    width: 80px;
    background-color: #6a4b38;
}