<div class="hhtml">
<!-- mezel l home button -->
  <div class="bbody">
  <div class="text-container">
    <div class="section" style="font-size: 70px;">
    Phone Case<div style="color:orangered">Design  </div>
  </div>
  <div class="section">
    <div class="scene">
      <div class="cube">
        <div class="face front"><img src="../../assets/image/cases/moodcase.png"></div>
        <div class="face right"><img src="../../assets/image/cases/musiccase.png"></div>
        <div class="face left"><img src="../../assets/image/cases/lolcase.png"></div>
        <div class="face back"><img src="../../assets/image/cases/zorocase.png"></div>
        <div class="face top">•</div>
        <div class="face bottom">•</div>
      </div>
    </div>
  </div>


<!-- !!!!!!!!!!!!!!!!!!!! -->
    <div class="section">
      You can now unlich your creativity with us<br><br><br> 
      
      <button (click)="casemd()" mat-raised-button color="accent">Let's go</button>
      <button routerLink="/homep" style="margin-left: 15px;" mat-raised-button color="primary">Home</button>
  </div>
<!-- !!!!!!!!!!!!!!!!!!!! -->

</div>
  <div class="gradient-bg">
    <svg xmlns="http://www.w3.org/2000/svg">
      <!-- <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
          <feBlend in="SourceGraphic" in2="goo" />
        </filter>
      </defs> -->
    </svg>
    <div class="gradients-container">
      <div class="g1"></div>
      <div class="g2"></div>
      <div class="g3"></div>
      <div class="g4"></div>
      <div class="g5"></div>
      <div class="interactive"></div>
    </div>
  </div>
    <script type="module" src="/src/main.ts"></script>
</div>
</div>