
<app-navbar></app-navbar>
<div class="container">
 <h2>Product Filter</h2>
 <div class="row">
    <div class="col-sm-4">
      <h4>Brands</h4>
      <label class="form-check">
        <input class="form-check-input" type="checkbox" value="apple">
        <span class="form-check-label">Apple</span>
      </label>
      <label class="form-check">
        <input class="form-check-input" type="checkbox" value="samsung">
        <span class="form-check-label">Samsung</span>
      </label>
      <label class="form-check">
        <input class="form-check-input" type="checkbox" value="oneplus">
        <span class="form-check-label">OnePlus</span>
      </label>
    </div>
    <div class="col-sm-4">
      <h4>Price Range</h4>
      <label class="form-check">
        <input class="form-check-input" type="checkbox" value="low">
        <span class="form-check-label">Low</span>
      </label>
      <label class="form-check">
        <input class="form-check-input" type="checkbox" value="medium">
        <span class="form-check-label">Medium</span>
      </label>
      <label class="form-check">
        <input class="form-check-input" type="checkbox" value="high">
        <span class="form-check-label">High</span>
      </label>
    </div>
    <div class="col-sm-4">
      <h4>RAM</h4>
      <label class="form-check">
        <input class="form-check-input" type="checkbox" value="2gb">
        <span class="form-check-label">2GB</span>
      </label>
      <label class="form-check">
        <input class="form-check-input" type="checkbox" value="4gb">
        <span class="form-check-label">4GB</span>
      </label>
      <label class="form-check">
        <input class="form-check-input" type="checkbox" value="6gb">
        <span class="form-check-label">6GB</span>
      </label>
    </div>
 </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

